@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

/* General */

* {
    font-family: 'Inter', sans-serif;
    /* font-weight: 100; */
}

a {
    color: #ffff;
    text-decoration: none;
}


/* Nav */ 
.nav {
    width: 78%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.nav-burger {
    margin-right: 20px;
}

svg {
    padding-top: 3vh;
    margin: auto 0 auto 0;
}

.logo {
    height: 12vh;
    width: auto;
}

/* Carousel */

.active-bullet {
    transform: rotate(-30deg);
    margin-right: 8px;
}


.slider-inner {
    padding: 3px;
}

.container-carousel {
    width: 100%;
    position: relative;
}

.controls {
    position: absolute;
    bottom: 34%;
    right: 5%;
    display: flex;
    justify-content: space-between;
    margin: 0 120px 0 120px;
    z-index: 10;
    /* top: 29%; */
    top: 33%;
}

@media screen and (max-width: 900px) {
    .controls{
        margin-right: 80px;
    }
}
@media screen and (max-width: 650px) {
    .controls{
        display: none;
    }
}


.bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: white;
    position: absolute;
    right: 12%;
    margin-top: -80px;
}

/* @media screen and (max-width: 450px){
    .bullet{
        display: none;
    }
} */

.carousel-text {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #234AC1;
    width: 45%;
    margin-inline-start: 30px;
    position: absolute;
    /* top: 40%; */
    top: 45%
}

@media screen and (max-width: 550px){
    .carousel-text{
        top: 40%;
    }
}

@media screen and (max-width: 450px){
    .carousel-text{
        margin-inline-start: 0;
    }
}

.carousel-block {
    height: 100px;
    background-color: black;
    width: 45%;
    margin-inline-start: auto;
    margin-inline-end: 30px;
    position: absolute;
    z-index: -5;
    top: 45%;
    /* top: 40%; */
    right: -0;
}

@media screen and (max-width: 550px){
    .carousel-block{
        display: none;
    }
}



.carousel-text h1 {
    color: white;
    font-weight: 500;
    font-size: 24px;
    margin-left: 23%;
    padding: 1%;
}

@media screen and (max-width: 850px){
    .carousel-text h1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 300px){
    .carousel-text h1 {
        font-size: 18px;
        margin-inline-start: 20px;
    }
}

.slider-inner img {
    display: none;
    margin: auto;
    width: 80%;
    /* max-height: 450px; */
}

.slider-inner img.active {
    display: block;
    width: 80%;
    /* max-height: 550px; */
}

@media screen and (max-width: 450px){
    .slider-inner img.active{
        width: 100%;
    }
}

/* @media screen and (max-width: 400px) {
    .slider-inner img.active {
        width: 100%;
        height: 300px;
    }
} */

.prev,
.next {
    cursor: pointer;
}

.prev {
    z-index: 100;
}

.next {
    z-index: 100;
}

@media screen and (max-width: 450px){
    .next {
        display: none;
    }
}



/* Middle Section */

.middle-section {
    padding: 72px 0px 72px 0px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1363px){
    .middle-section{
        padding: 72px 20px;
    }
}
@media screen and (max-width: 1263px){
    .middle-section{
        padding: 72px 45px;
    }
}
@media screen and (max-width: 1151px){
    .middle-section{
        padding: 72px 71px;
    }
}
@media screen and (max-width: 904px){
    .middle-section{
        display: block !important;
        padding: 72px 88px;
    }
}
/* @media screen and (max-width: 925px){
    .middle-section{
        display: block !important;
        padding: 72px 88px;
    }
} */
@media screen and (max-width: 823px){
    .middle-section{
        padding: 72px 80px;
    }
}
@media screen and (max-width: 741px){
    .middle-section{
        padding: 72px 70px;
    }
}
@media screen and (max-width: 636px){
    .middle-section{
        padding: 72px 50px 72px 63px;
    }
}
@media screen and (max-width: 561px){
    .middle-section{
        padding: 46px 46px 72px 53px;
    }
}

@media screen and (max-width: 450px){
    .middle-section{
        padding: 43px 9px 75px 6px;
    }
}

.text {
    width: 45%;
    font-size: 18px;
    font-size: larger;
    font-weight: 300;
    padding: 15px;
}

@media screen and (max-width: 600px){
    .text{
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 904px){
    .text{
        width: 100%;
        padding: 0px;

    }
}

@media screen and (max-width: 250px){
    .text {
        font-size: 13px;
        width: 100vw;
    }
}

@media screen and (max-width: 400px) {
    .text {
        justify-content: start;
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 904px){
    .icon{
        display: flex;
        justify-content: center;
    }
}




/* Cards */

.bottom-section {
    /* width: 437px; */
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    /* justify-content: center; */
    justify-content: space-evenly;
    padding: 0px 76px;

}

@media screen and (max-width: 1657px){
    .bottom-section{
        padding: 0px 100px;
    }
}
@media screen and (max-width: 1537px){
    .bottom-section{
        padding: 0px 129px;
    }
}
@media screen and (max-width: 1094px){
    .bottom-section{
        padding: 0px 102px;
    }
}
@media screen and (max-width: 1092px){
    .bottom-section{
        padding: 0px 94px;
    }
}
@media screen and (max-width: 1076px){
    .bottom-section{
        padding: 0px 89px;
    }
}


.card {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-bottom: 36px;
}

@media screen and (max-width: 450px){
    .card{
        gap: 21px;
    }
}

.card-heading {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 180px;
    background-color: #061B2C;
}

 @media screen and (max-width: 1441px){
    .card-heading{
        width: 366px;
    }
}
@media screen and (max-width: 1398px){
    .card-heading{
        width: 344px;
    }
}
@media screen and (max-width: 1331px){
    .card-heading{
        width: 338px;
    }
}
@media screen and (max-width: 1312px){
    .card-heading{
        width: 322px;
    }
}
@media screen and (max-width: 1263px){
    .card-heading{
        width: 321px;
    }
}
@media screen and (max-width: 1260px){
    .card-heading{
        width: 313px;
    }
}
@media screen and (max-width: 1236px){
    .card-heading{
        width: 309px;
    }
}
@media screen and (max-width: 1223px){
    .card-heading{
        width: 305px;
    }
}
@media screen and (max-width: 1211px){
    .card-heading{
        width: 299px;
    }
}
@media screen and (max-width: 1193px){
    .card-heading{
        width: 290px;
    }
} 
@media screen and (max-width: 1165px){
    .card-heading{
        width: 281px;
    }
}
@media screen and (max-width: 1164px){
    .card-heading{
        width: 432px;
    }
}
@media screen and (max-width: 1064px){
    .card-heading{
        width: 414px;
    }
}
@media screen and (max-width: 1029px){
    .card-heading{
        width: 386px;
    }
}
@media screen and (max-width: 973px){
    .card-heading{
        width: 369px;
    }
}
@media screen and (max-width: 939px){
    .card-heading{
        width: 362px;
    }
}
@media screen and (max-width: 925px){
    .card-heading{
        width: 356px;
    }
}
@media screen and (max-width: 913px){
    .card-heading{
        width: 351px;
    }
}



@media screen and (max-width: 910px){
    .card-heading{
        width: 45rem;
    }
}
@media screen and (max-width: 851px){
    .card-heading{
        width: 660px;
    }
}
@media screen and (max-width: 811px){
    .card-heading{
        width: 640px;
    }
}
@media screen and (max-width: 771px){
    .card-heading{
        width: 595px;
    }
}
@media screen and (max-width: 720px){
    .card-heading{
        width: 558px;
    }
}
@media screen and (max-width: 653px){
    .card-heading{
        width: 500px;
    }
}
@media screen and (max-width: 616px){
    .card-heading{
        width: 473px;
    }
}
@media screen and (max-width: 565px){
    .card-heading{
        width: 440px;
    }
}
@media screen and (max-width: 512px){
    .card-heading{
        width: 400px;
    }
}
@media screen and (max-width: 477px){
    .card-heading{
        width: 376px;
    }
}

@media screen and (max-width: 450px){
    .card-heading {
        display: flex;
        flex-direction: column;
        width: 418px;
        height: 180px;
        background-color: #061B2C;
        margin: auto;
    }

    /* #card-small{
        width: 418px;
    } */
}

@media screen and (max-width: 418px){
    .card-heading{
        width: 390px;
    }
}
@media screen and (max-width: 402px){
    .card-heading{
        width: 371px;
    }
}
@media screen and (max-width: 383px){
    .card-heading{
        width: 356px;
    }
}
@media screen and (max-width: 367px){
    .card-heading{
        width: 337px;
    }
}
@media screen and (max-width: 346px){
    .card-heading{
        width: 315px;
    }
}
@media screen and (max-width: 325px){
    .card-heading{
        width: 295px;
    }
}
@media screen and (max-width: 304px){
    .card-heading{
        width: 279px;
    }
}
/* @media screen and (max-width: 794px){
    .card-heading {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 180px;
        background-color: #061B2C;
    }
} */

#card-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 27px;
    background-color: #234AC1;
    color: white;
    padding: 0 9px 0 9px;
}

@media screen and (max-width: 450px){
    #card-small{
        width: auto;
    }
}

.card-bottom {
    width: auto;
    gap: 20px;
    display: flex;
}

@media screen and (max-width: 450px){
    .card-bottom{
        flex-direction: column;
        width: 100%;
        gap: 12px;
        margin: auto;
    }
}
/* @media screen and (max-width: 794px){
    .card-bottom{
        flex-direction: column;
        width: 100vw;
        gap: 12px;
    }
} */

h3 {
    color: white;
    font-weight: 500;
    margin-left: 33px;
    font-size: 24px;
}

#text {
    margin: 0;
    font-size: 9.6px;
}

@media screen and (max-width: 450px){
    #text{
        font-size: 15px;
    }
}

.arrow {
    margin: 0;
    padding: 0;
}

.arrow-1 {
    margin-left: 33px;
}

/* End */







